{{ define "main" }}

<iframe id="survey-frame" style="width: 100%; border: none; min-height: calc(100vh - 200px);"></iframe>

<script>
(function() {
  var key = 'surveyParticipantId';
  var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
  var valid = /^[a-zA-Z0-9]{10}$/;

  var pid = localStorage.getItem(key);
  if (!pid || !valid.test(pid)) {
    pid = '';
    for (var i = 0; i < 10; i++) {
      pid += chars.charAt(Math.floor(Math.random() * chars.length));
    }
    localStorage.setItem(key, pid);
  }

  document.getElementById('survey-frame').src =
    'https://acshikh.com/survey/0nMsN-93-L?pid=' + encodeURIComponent(pid);
})();
</script>

{{ end }}
